.home-page {
  font-family: "Manrope";
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fffdf4;
  width: 100%;

  .section-heading {
    font-family: "Playfair Display ";
    font-weight: 700;
    font-size: 32px;
    position: relative;
    margin-left: 20px;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    &:before {
      height: 70px;
      width: 38px;
      background-repeat: no-repeat;
      left: -40px;
      background-image: url(../../assets/section-heading-img.svg);
      bottom: 0;
      content: "";
      position: absolute;
      top: 10%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .home-page {
    margin-top: 70px;
    .section-heading {
      font-size: 24px;
      &:before {
        height: 42px;
        left: -30px;
        background-image: url(../../assets/section-heading-img-mobile.svg);
      }
    }
  }
}
