.skills-container {
  height: 860px;
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    list-style: none;
    padding: unset;
    margin-top: 65px;
    max-width: 1300px;
    margin: auto;
    .skill-item {
      width: 283px;
      height: 226px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      margin-bottom: 70px;
      .image {
        width: 100px;
        height: 100px;
        margin-top: 86px;
        margin-bottom: 54px;
      }
      .title {
        font-size: 24px;
        max-width: 280px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .skills-container {
    height: unset;
    .skills-wrapper {
      margin-top: 38px;
      gap: 15px;
      padding: 12px;
      .skill-item {
        margin: auto;
        height: unset;
        gap: 20px;
        max-width: 160px;
        .image {
          margin-block: 23px;
          width: 65px;
          height: 65px;
        }
        .title {
          font-size: 18px;
        }
      }
    }
  }
}
