.modalContainer {
  .background-image {
    height: 365px;
  }
  .cancelButton {
    float: right;
    margin: 30px;
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: 24px;
      height: auto;
    }
  }
  .popup-content {
    font-size: 18px;
    background-color: #ffffff;
    margin-inline: 54px;
    margin-top: 135px;
    padding-inline: 32px;
    padding-top: 16px;
    overflow-y: auto;
    max-height: 634px;
    z-index: 1;
    position: absolute;
  }
  .popup-content::-webkit-scrollbar-track {
    -webkit-box-shadow: unset;
    border-radius: 10px;
    background: none;
  }
  .popup-content::-webkit-scrollbar {
    width: 10px;
    background-color: none;
  }

  .popup-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dfdfdf;
  }
}

@media only screen and (max-width: 750px) {
  .modalContainer {
    .cancelButton {
      margin: 16px;
      width: 25px;
      height: 25px;
      font-size: 14px;
    }
    .popup-content {
      padding-inline: 20px 0px;
      margin-inline: 20px;
      font-size: 12px;
      margin-top: 50px;
    }
  }
}
