.contact-container {
  margin-block: 85px 100px;
  .contact-wrapper {
    font-size: 18px;
    max-width: 696px;
    margin: auto;
    text-align: center;
    a {
      color: #1175b5;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 750px) {
  .contact-container {
    margin-bottom: 50px;
    margin-inline: 24px;
    .section-heading {
      margin-left: 24px;
    }
    .contact-wrapper {
      font-size: 18px;
      text-align: left;
      .links {
        font-size: 18px;
        margin-block: 15px;
      }
    }
  }
}
