.industry-projects-list {
  max-width: 60%;
  margin: 0px 0px 80px auto;
  text-align: right;
  .carousel-container {
    margin: 0 auto;
    .react-multi-carousel-track {
      margin-top: 100px;
      margin-bottom: 88px;
      margin-inline: 15px;
    }
    .react-multiple-carousel__arrow {
      background: unset;
      z-index: 10;
      margin-bottom: 675px;
      min-width: 40px;
      min-height: 40px;
      border-color: #728e70;
      border-width: 2.3px;
      border-style: solid;
      cursor: pointer;
      &::before {
        color: #728e70;
      }
    }
    .react-multiple-carousel__arrow:disabled {
      cursor: not-allowed;
    }
    .react-multiple-carousel__arrow--left {
      right: unset;
      left: 35px;
      top: 460px;
    }
    .react-multiple-carousel__arrow--right {
      right: unset;
      left: 90px;
      top: 460px;
    }
  }

  .project-item {
    border-radius: 8px;
    margin-right: 32px; /* Adjust this value to set the gap between slides */
  }
}

@media only screen and (max-width: 750px) {
  .industry-projects-list {
    max-width: unset;
    .carousel-container {
      .react-multi-carousel-track {
        margin-top: 60px;
      }
      .slide-item {
        height: 488px;
        margin-right: unset;
        .projectThumbnail {
          height: 200px;
        }
        .contentWrapper {
          h5 {
            font-size: 20px;
          }
          div {
            font-size: 12px;
          }
          a {
            font-size: 16px;
            height: 40px;
            width: 130px;
          }
        }
      }
      .react-multiple-carousel__arrow {
        min-width: 32px;
        min-height: 32px;
        margin-bottom: 513px;
        &::before {
          font-size: 14px;
        }
      }
      .react-multiple-carousel__arrow--left {
        bottom: 24px;
        margin-bottom: unset;
        top: unset;
        left: 40%;
      }
      .react-multiple-carousel__arrow--right {
        bottom: 24px;
        margin-bottom: unset;
        top: unset;
        left: unset;
        right: 40%;
      }
    }
  }
}
