.landing-section {
  min-height: 610px;
  background-color: #fffdf4;
  margin-top: 125px;
  .landing-page-content {
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 60px;
    .heading-container {
      font-weight: 700;
      font-size: 48px;
      font-family: "Playfair Display ";
      max-width: 960px;
      margin: auto;
      text-align: center;
      line-height: 130%;
    }
    .details-container {
      margin-top: 23px;
      max-width: 960px;
      margin-inline: auto;
      text-align: center;
      .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        max-width: 800px;
        margin: auto;
      }
      h6 {
        font-family: "Roboto Mono";
        margin-top: 32px;
        margin-bottom: unset;
        font-weight: 400;
        color: #0ab339;
        font-size: 14px;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 0.1em solid #0ab339 !important; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin-inline: auto; /* Gives that scrolling effect as the typing happens */
        animation: typing 3.5s steps(10, end) forwards infinite,
          blink-caret 0.75s step-end infinite;
      }
      @media (min-width: 1170px) {
        /* The typing effect */
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 43%;
          }
        }
      }
      @media (max-width: 1169.99px) {
        /* The typing effect */
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 37%;
          }
        }
      }
      @media (max-width: 969.99px) {
        /* The typing effect */
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 45%;
          }
        }
      }
      @media (max-width: 769.99px) {
        /* The typing effect */
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 70%;
          }
        }
      }
      @media (max-width: 469.99px) {
        h6 {
          letter-spacing: 80%;
          font-size: 150%;
        }
        /* The typing effect */
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 85%;
          }
        }
      }
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from {
          border-color: transparent;
        }
        to {
          border-color: transparent;
          opacity: 0;
        }
        50% {
          border-color: white;
        }
      }

      .design-to-code {
        display: flex;
        flex-direction: column;
        text-align: start;
        font-family: "Roboto Mono";
        letter-spacing: 5px;
        .path {
          stroke-dasharray: 1367;
          stroke-dashoffset: 1437;
          animation: dash 3s linear forwards;
          animation-iteration-count: 1;
          animation-delay: 1s;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .dashed {
          stroke-dasharray: 5, 12;
        }
        #arrow {
          animation: arrow 2s linear forwards;
          opacity: 0;
        }
        @keyframes arrow {
          to {
            opacity: 1;
          }
        }
        .ifrm {
          border: none;
          width: 100%;
          margin-top: 50px;
        }

        .design-text {
          margin-top: -15px;
        }
        .code-text {
          align-self: end;
          margin-top: -130px;
          margin-right: -55px;
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .landing-section {
    background-image: none;
    min-height: unset;
    .landing-page-content {
      .heading-container {
        width: 75%;
        margin: 35px 35px 20px 35px;
        font-size: 28px;
        line-height: 125%;
      }
      .details-container {
        flex-direction: column;
        width: 90%;
        margin: auto;
        .description {
          font-size: 14px;
          margin-top: 24px;
        }
      }
    }
  }
}
