.projects-container {
  padding-top: 90px;
  margin-bottom: 84px;
  background-color: #e7e8e2;
  .projects-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 114px;
    .project-item {
      height: 440px;
      min-width: 408px;
      position: relative;
      z-index: 0;
      overflow: hidden;
      color: unset;
      text-decoration: unset;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: #fffdf4;
        height: 248px;
        width: 245px;
        top: 89px;
        right: 0;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.4s ease-in;
      }
      &:hover:before {
        transform: scale(3);
      }
      .contentWrapper {
        display: flex;
        flex-direction: column;
        margin-left: 28px;
        margin-top: 20px;
        .projectThumbnail {
          width: 352px;
          height: 218px;
          border-radius: 10px;
        }
        .key-points-wrapper {
          display: flex;
          margin-top: 32px;
          gap: 16px;
          font-size: 14px;
          .key-point {
            border: 1px solid black;
            border-radius: 20px;
            padding: 3px 14px;
          }
        }
        .desc {
          margin-top: 24px;
        }
        h5 {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          margin-top: 7px;
          margin-bottom: 16px;
        }
        .open-link-text {
          font-size: 16px;
          color: #1175b5;
          position: relative;
          top: 160px;
          opacity: 0;
          transition: opacity 1s ease-out, transform 0.45s ease-out;
        }
      }
    }
    .project-item:hover {
      .open-link-text {
        transform: translateY(-10rem);
        opacity: 1;
        transition: opacity 1s ease-out, transform 0.45s ease-out;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .projects-container {
    padding-top: 24px;
    margin-bottom: unset;
  }
}
