.industry-projects-container {
  .section-heading {
    min-width: 400px;
    margin-inline: 50px;
    position: absolute !important;
    left: 0;
    margin-top: 200px;
    max-width: 300px;
    margin-left: 110px !important;
    text-align: left !important;
  }
  .industry-projects-list {
    .project-item {
      border-radius: 8px;
      border: 1px solid #e8e8e8;
      width: 384px;
      height: 326px;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: 2.3px solid #728e70;
      cursor: pointer;

      .project-thumbnail {
        width: 186px;
        height: 186px;
        margin-top: 22px;
        margin-bottom: 34px;
      }
      .content-wrapper {
        display: flex;
        justify-content: space-between;
        width: 88%;
        .title {
          font-size: 18px;
          font-weight: 700;
          margin-top: 5px;
        }
        .project-button {
          border: none;
          background-color: #728e70;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          cursor: pointer;
          //opacity: 0;
          img {
            width: 24px;
            height: 24px;
            margin-top: 4px;
          }
        }
      }
    }
    // .project-item:hover {
    //   .content-wrapper {
    //     transform: translateX(-20px);
    //     transition: transform 0.25s linear;
    //     .project-button {
    //       opacity: unset;
    //       transition: opacity 0.7s;
    //     }
    //   }
    // }
  }
}

@media only screen and (max-width: 750px) {
  .industry-projects-container {
    .industry-projects-list {
      flex-direction: column;
      .project-item {
        height: 235px;
        width: 100%;
        .project-thumbnail {
          height: 115px;
          width: 140px;
        }
        .content-wrapper {
          margin-left: 132px;
          .title {
            font-size: 14px;
          }
        }
      }
    }
  }
}
